.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #00CCFF;
  font-size: 18px;
  margin: 0px auto;
  padding: 60px auto;
}
