footer {
  background-color: black;
  color: #00CCFF;
  font-size: 18px;
  margin: 20px auto;
  padding: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
