.app-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #00CCFF;
  font-size: 18px;
  margin: -10px auto;
  padding: 60px 0;

  img {
    padding: 15px 0;
  }
}
